
.exemplo1{
	width: 320px;
	height: 40px;
	text-align:left;
	background-color: blue;
	
}
.exemplo2{
	background-color: red;
	position: absolute;
	right:0;
	top:0;
	
	
}
.exemplo3{
	background-color: black;
	position:;
	left: 0;
	top:0;
	position: absolute;

}
.exemplo-internal{
	right: 0;
	top: 0;
	margin-right: 50px;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: #ccc;
	position: absolute;
	
	
	
	
}