.exemplo{
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	color: black;
	text-transform: uppercase;
	cursor: pointer;

}
.exemplo1{
	background-color: blue;
	position: absolute;
	right: 0;
	bottom: 0;
}
.exemplo2{
	background-color: red;
	position: absolute;
	right: 50%;
	top:0;
	transform:translate(50%);
	
}
.exemplo3{
	background-color: black;
	position:;
	left: 0;
	top:0;
	position: absolute;

}
.exemplo-internal{
	right: 0;
	top: 50;
	margin-right: 50px;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: #ccc;
	position: absolute;
	
	
	
	
}