body{
	margin:0;
	font-size:12px;
	font-family:arial;
}
.topo{
	height:30px;
	background-color:#333;
	color:white;
}
.topointerior{
	width:100%;
	max-width:1040px;
	height:30px;
	margin:auto;
	
}
.topoleft{
	width:50%;
	height:30px;
	float:left;
}
.toporight{
	width:50%;
	height:30px;
	float:right;
	text-align:right;
	margin-top:2px;

}.topoleft ul{
	margin:0;
	padding:0;
	list-style:none;
	
}
.topoleft li{
	height:30px;
	margin-left:8px;
	margin-right:8px;
	line-height:30px;
	float: left;

}
.topoleft li a{
	text-decoration:none;
	color: white;
}
.topoleft li .ativo{
	color:blue;
}
.topobusca{
	width:110px;
	height:26px;
	outline:0;
}
.toporight a{
	float: right;

}
.toporight input{
	float:right;
	outline:0;
}
.topo2{
	height:95px;
}
.topo2interior{
	width:100%;
	max-width:1040px;
	height:95px;
	margin:auto;
}
.logo{
	width:230px;
	height:95px;
	color:red;
	font-family:arial;
	font-size:36px;
	line-height:95px;
	float:left;
	font-weight:bold;

}
.topo2 .banner{
	width:650px;
	height:80px;
	text-align:center;
	line-height:80px;
	font-size:26px;
	font-family:verdana;
	color:white;
	margin-top:5px;
	float:right;
	background-color:red;
}
.menu{
	height:40px;
	background-color:red;
}
.menuinterior{
	width:100%;
	max-width:1040px;
	height:40px;
	margin:auto;
}
.menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu li{
	line-height: 40px;
	float: left;
	padding-left: 8px;
	padding-right:8px;
}

.menu li:hover{
	background-color: 822020;
}
.menu a{
	color:white;
	text-decoration:none;
}
.submenu{
	width:150px;
	background-color:red;
	position:absolute;
	display:none;
}

.menu li:hover .submenu{
	display:block;
}
.submenuitem{
	padding:10px;
	height:5px;
	line-height:5px;
}
.submenuitem:hover{
background-color:#ff5555;
}
.noticia{
	height: 40px;
}
.noticiaint{
	width: 100%;
	max-width: 1040px;
	height: 40px;
	margin:auto;
}
.noticiaarea{
	height: 28px;
	background-color: white;
	border:1px solid #ccc;
	margin-top: 10px;
}
.noticialeft{
	background-color: red;
	color: white;
	height: 28px;
	line-height: 28px;
	display:inline-block;
	padding-left: 10px;
	padding-right: 10px;
	font-size:16px;
}
.noticiacenter{
color: black;
height: 28px;
line-height: 28px;
display: inline-block;
padding-left: 5px;

}
.container{
	height: 100px;
}
.containerint{
	width: 100%;
	max-width: 1040px;
	margin: auto;
}
.leftside{
	width: 753px;
	float: left;
}
.rightside{
	width: 275px;
	min-height: 200px;
	float: right;
	margin-left: 12px;
}
.widget{
	background-color: white;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}
.widget_titulo{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	padding-left: 5px;
	background-color:#ddd;
	border-bottom: 1px solid #ccc;
}
.widget_conteudo{
text-align: center;
padding-top: 7px;
padding-bottom: 5px;
}
.conteudo_item{
	border-bottom: 1px solid #ccc;
	margin: 0px 10px;
	padding: 8px 0px;
	text-align: left;
}
.conteudo_item a{
text-decoration: none;
color: black;
font-family: verdana;
}
.conteudo_item a:hover{
	text-decoration:underline;
	color: red;
}
.slideshow{
	height: 335px;
	background-color: #ccc;
	overflow:hidden;
	margin-bottom: 8px;
}
.slideshowarea{
	width: 100000px;
	height: 335px;
	background-color:#ddd;
	transition:all 1s;
}
.slide{
	height: 335px;
	float: left;		
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.slideinfo{
	height: 70px;
	/*background-image:url('../imagens/info.jpeg');*/
	background-size: auto 70px;
	margin-top: 265px;
}
.slideinfo_titulo{
	font-size: 20px;
	color: white;
	padding-top: 15px;
	padding-left: 10px;
}
.slideinfo_subtitulo{
	font-size: 13px;
	color: white;
	padding-left: 10px;
}
.bolinhas{
	width: 200px;
	height: 20px;
	position:absolute;
	margin-left: 5px;
}
.bolinha{
	background-color:#ccc;
	width: 20px;
	height: 20px;
	float: left;
	margin-top: 2px;
	margin-right: 5px;
	border-radius: 10px;
	cursor:pointer;
}
.noticiaarea1{
	width: 430px;
	height: 420px;
	float: left;
}
.noticiaarea2{
	width: 320px;
	height: 420px;
	float: left;
}
.noticiaitem{	
	height: 88px;
	text-align: left;
	margin-top: 7px;
	margin-bottom: 7px;
}
.noticiaimg{
	width: 80px;
	height: 80px;
	border: 1px solid #ddd;
	padding: 3px;
	float: left;
}
.noticiatitulo{
	width: 226px;
	margin-left: 6px;
	font-size: 16px;
	float: left;
}
.noticiainfo{
	font-size: 12px;
	margin-left: 6px;
	color: #999;
	float: left;
}
.noticiabig{
	margin-left: 10px;
	height: 400px;
}
.noticiabig .noticiaimg{
	width: 384px;
	height: 222px;
}
.noticiabig .noticiaimg img{
	width: 384px;
	height: 222px;
}
.noticiabig .noticiatitulo{
	font-size: 30px;
	width: 384px;
}
.noticiabig .noticiatitulo a{
	text-decoration: none;
	color: black;
}
.menumobile{
	display: none;
}
@media only screen and (min-width: 906px) and (max-width:1057px){
	.topointerior,
	.topo2interior,
	.menuinterior,
	.noticiaint,
	.containerint{
		max-width: 890px;
	}
	.leftside{
		width: 600px;
	}
	.noticiaarea1{
		width: 275px;
	}
	.noticiabig .noticiaimg {
    width: 253px;
    }
   .noticiabig .noticiaimg img {
    width: 253px;
	}
	.noticiabig .noticiatitulo {
    font-size: 25px;
    width: 253px;
    }
}
@media only screen and (min-width: 775px) and (max-width: 906px){
	.topointerior,
	.topo2interior,
	.menuinterior,
	.noticiaint,
	.containerint{
		max-width: 768px;
	}
	.topo2 .banner {
    width: 530px; 
 }
 	.rightside {
 		display: none;
 	}
	.leftside{
		float: none;
		width: auto;
	}
	.noticiaarea1{
		width: 438px;
	}
	.noticiabig .noticiaimg {
    	width: 415px;
    }
   .noticiabig .noticiaimg img {
    	width: 415px;
	}
	.noticiabig .noticiatitulo {
    font-size: 25px;
    width: 415px;
    }
}
@media only screen and (max-width: 775px){
	.topointerior,
	.topo2interior,
	.menuinterior,
	.noticiaint,
	.containerint{
		max-width: 320px;
	}
	.topoleft {
		display: none;
    }
    .toporight {
    	width: 100%;
    }
	.topo2 .banner {
    width: 530px;
    display: none; 
 }
    .logo {
    	height: 90px;
    }
 	
 	.menumobile{
 		display: block;
   	}
 	.menu ul{
 		position: absolute;
 		background-color: #333;
 		opacity: 60%;
 		z-index:10;
 		display: none;
 	}
 	.menu li{
 		float: none;
 		height: auto;
 	}
 	.submenu{
 		position: static;
 		display: block;
 	}
 	
 	.rightside {
 		display: none;
 	}
	.leftside{
		margin-top:10px; 
		float: none;
		width: auto;
	}
	.noticia {
		display: none;
	}
	.noticiaarea1{
		width: 320px;
		height:auto;
	}
	.noticiabig .noticiaimg {
    	width: 290px;
    }
   .noticiabig .noticiaimg img {
    	width: 290px;
	}
	.noticiabig .noticiatitulo {
    font-size: 25px;
    width: 290px;
    }
    .menuinterior .submenu{
    	display: none;
    }
    .menu li:hover .submenu{
	display:none;
   }
   .menu li:hover{
	background-color:green;
}
    
}






